@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-black text-[15px] leading-normal;
    font-family: "Inconsolata", monospace;
    scroll-behavior: smooth;
  }

  h5 {
    @apply my-[10px] text-[18px];
  }

  p {
    @apply block text-[18px] my-[18px];
  }

  a {
    @apply text-black underline hover:text-sky-600 hover:cursor-pointer;
  }

  .menu-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}
